*{
  margin: 0px;
  padding: 0px;
}
.box{
  background-color: rgb(252, 252, 252);
}
body{
  background-repeat: no-repeat ;
  background-size: cover;
  background-image: url('./images/mist.jpg');
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}